body {
	font-family: Helvetica;
}
#nav {
	background: #28323A;
	width: 100%;
	border-radius: 0;
}
nav .navbar-toggle {
	border: 1px solid white;
}
nav .navbar-toggle:hover {
	background: #02578D;
}
nav .navbar-toggle span {
	background: white;
}
#nav a {
	color: white;
	padding-right: 13px;
	padding-left: 13px;
}
#nav a:visited {
	background: #28323A;
}
#nav a:hover {
	background: #02578D;
}
#nav a:focus {
	background: #28323A;
}
ul#nav-left {
	margin-left: 20px;
	margin-right: 20px;
}
ul#nav-right {
	margin-left: 20px;
	margin-right: 20px;
}