@font-face {
	font-family: 'Open Sans';
	src: url(../fonts/OpenSans-Regular.ttf);
}
html {
	height: 100%;
	body {
		height: 100%;
		font-family: Helvetica, sans-serif;
		.mainContainer {
			height: 100%;
		}
	}
}