<nav id="nav" class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul id="nav-left" class="nav navbar-nav">
                <li>
                    <a href="#/">
                        <span class="glyphicon glyphicon-home"></span>&nbsp;
                        <span class="hidden-sm">Головна</span>
                    </a>
                </li>
                <li>
                    <a href="http://dtapi.local/~pupkin/dist_dev/#/groups">Групи</a>
                </li>
                <li>
                    <a href="http://dtapi.local/~pupkin/dist_dev/#/subjects">Предмети</a>
                </li>
                <li>
                    <a href="http://dtapi.local/~pupkin/dist_dev/#/specialities">Спеціальності</a>
                </li>
                <li>
                    <a href="http://dtapi.local/~pupkin/dist_dev/#/faculties">Факультети</a>
                </li>
            </ul>
            <ul id="nav-right" class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        <span class="hidden-sm">Зареєструватися</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-question-sign"></span>&nbsp;
                        <span class="hidden-sm">Допомога</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>