<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#myNavbar">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#"><img width="35" class="logo-img" src="img/logo_admin.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul id="nav-left" class="nav navbar-nav">
                <li class="visible-xs"><a href="#"><span class="glyphicon glyphicon-home"></span>
                    Головна</a></li>
                <li><a href="#">Групи</a></li>
                <li><a href="http://dtapi.local/~pupkin/dist_dev/#/subjects">Предмети</a></li>
                <li><a href="http://dtapi.local/~pupkin/dist_dev/#/specialities">Спеціальності</a></li>
                <li><a href="http://dtapi.local/~pupkin/dist_dev/#/faculties">Факультети</a></li>
            </ul>
            <ul id="nav-right" class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Зареєструватися </a>
                </li>
                <li><a href="#" title="Допомога"><span
                        class="glyphicon glyphicon-question-sign"></span>&nbsp;<span
                        class="hidden-sm">Допомога</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="false-nav"></div>